/* ScrollBox  */
.scrollbox {
	border: 1px solid #CCCCCC;
	width: auto;
	max-height: 200px;
	background: #FFFFFF;
	overflow-y: scroll;
}
.scrollbox img {
	float: right;
	cursor: pointer;
}
.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.scrollbox div.even {
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}
a, .scrollbox div label {
	cursor: pointer;
}
