<div id="search">
    <input class="form-control" type="text" name="search" value="<?php echo $search; ?>" placeholder="Введите название или симптом" />
    <button class="btn"><i class="fa fa-search"></i></button>
</div>