<?php if($files){ ?>


		<?php foreach($files as $file){ ?>
		<a class="go_to_to" download href="<?php echo $file['href']; ?>">
				<?php if($file['image']){ ?>		
				 <img src="<?php echo $file['image']; ?>" alt="<?php echo $file['name']; ?>" />
				<?php } ?>
				<span class="text-underline go_to_to">Инструкция</span> <?php echo $file['title']; ?>
		<?php } ?>
		</a><span class="size-file">(pdf. 3,5мб)</span>
<?php } ?>