* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html,
body {
padding: 0;
margin: 0;
position: relative;
display: block;
}

body {
font-family: "Open Sans", sans-serif;
color: #303030;
}

a {
color: #4e78b7;
}

a:hover, a:focus, a:active {
color: #3d6197;
    text-decoration: none!important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0 0 10px 0;
}

p {
line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: normal;
}

h1 {
font-size: 36px;
}

h2 {
font-size: 32px;
}

h3 {
font-size: 28px;
}

h4 {
font-size: 24px;
}

h5 {
font-size: 20px;
}

h6 {
font-size: 16px;
}

hr {
height: 1px;
border: none;
background: #eee;
margin: 0;
}

hr.divider {
margin: 30px 0;
}

textarea {
min-height: 100px;
}

*, *:focus {
outline: none !important;
}

strong {
font-weight: 700;
}
