html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

footer,
header,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
}

strong {
  font-weight: 700;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

button,
input,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
html input[type=button] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1,
h4,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h4 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.text-uppercase {
  text-transform: uppercase;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul {
  margin-bottom: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-3,
.col-lg-6,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-9,
.col-sm-12,
.col-sm-3,
.col-sm-4,
.col-sm-9,
.col-xs-12,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-12,
.col-xs-6 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-6 {
  width: 50%;
}

@media (min-width:768px) {
  .col-sm-12,
  .col-sm-3,
  .col-sm-4,
  .col-sm-9 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }
}

@media (min-width:992px) {
  .col-md-3,
  .col-md-4,
  .col-md-6,
  .col-md-9 {
    float: left;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }
}

@media (min-width:1200px) {
  .col-lg-3,
  .col-lg-6 {
    float: left;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-3 {
    width: 25%;
  }
}

table {
  background-color: transparent;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

.pull-right {
  float: right!important;
}

@-ms-viewport {
  width: device-width;
}

@font-face {
  font-family: 'FontAwesome';


  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pull-right {
  float: right;
}

.fa-search:before {
  content: "\f002";
}

.fa-bars:before {
  content: "\f0c9";
}

.fa-angle-down:before {
  content: "\f107";
}

@font-face {
  font-family: 'icomoon';





  font-weight: normal;
  font-style: normal;
}

[class^="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-head:before {
  content: "\e0ae";
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;

}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;

}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;

}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;

}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;

}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;

}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;

}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;

}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;

}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
}

html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  position: relative;
  min-height: 100%;
}

a {
  color: #317bbc;
}

p,
h1,
h4,
h6 {
  margin: 0 0 10px 0;
}

p {
  line-height: 1.6;
}

h1,
h4,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

textarea {
  min-height: 100px;
}

* {
  outline: none !important;
}

strong {
  font-weight: 700;
}

@font-face {
  font-family: 'Plumb Medium';






}

.form-control {
  height: 40px;
}

.btn {
  -ms-border-radius: 40px;
  border-radius: 40px;
  height: 40px;
  padding: 10px 30px;
}

.btn-primary {
  color: #fff;
  background-color: #5dbece;
  border-color: #5dbece;
}

.page_container {
  padding-bottom: 50px;
}

.bread_crumb {
  margin-bottom: 30px;
}

.bread_crumb > a,
.bread_crumb > span {
  display: inline-block;
  font-size: 13px;
}

.bread_crumb > span {
  color: #676767;
}

.bread_crumb > a {
  text-decoration: underline;
}

.bread_crumb > a:after {
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  margin: 0 10px;
}

@media (max-width:991px) {
  .bread_crumb > a,
  .bread_crumb > span {
    font-size: 12px;
  }

  .bread_crumb > a:after {
    margin: 0 5px;
  }
}



#callmeform .btn {
  height: 30px;
}

header {
  position: relative;
  padding-top: 15px;
  font-size: 13px;
  margin-bottom: 30px;
}

header .top {
  margin-bottom: 20px;
}

header .logo {
  display: block;
}

header .logo > img {
  max-width: 100%;
}

header .phone > h4 {
  color: #78b7c6;
  margin-bottom: 0;
  font-family: 'Plumb Medium';
}

header .phone > a {
  border-bottom: 1px dotted #4e78b7;
  text-decoration: none;
}

header .top nav {
  margin-left: -15px;
  position: relative;
  margin-bottom: 10px;
}

header .top nav > a {
  padding: 0 13px;
  display: inline-block;
  font-weight: 600;
}

header .top nav > a > i {
  margin-right: 10px;
}

header .cart {
  padding-top: 10px;
  float: right;
}

header .cart:after {
  display: block;
  clear: both;
  content: "";
}

header .cart > .title {
  float: left;
  margin-right: 30px;
  display: block;
  color: #333;
}

header .cart > .title strong {
  color: #78b7c6;
}

header .cart > .title > img {
  float: left;
}

header .cart > .title > .text {
  margin-left: 50px;
}

header .cart > .btn {
  float: left;
}

.catalog {
  background-color: #6fc8d8;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.catalog > .left {
  float: left;
  width: 290px;
  position: static;
  background-color: #4db7c7;
  padding: 0 15px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.catalog > .left > .catalog_menu_toggle {
  height: 60px;
  padding-top: 15px;
  padding-left: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  color: #fff0f5;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0);
}

.catalog > .left > .catalog_menu_toggle > .fa-bars {
  padding: 10px 11px;
  background-color: #fff;
  color: #4db8c8;
  -ms-border-radius: 20px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 10px;
  vertical-align: middle;
}

.catalog > .left > .catalog_menu_toggle > .fa-angle-down {
  margin-left: 10px;
  font-size: 24px;
  vertical-align: middle;
}

.catalog > .left > .catalog-menu {
  margin: 0;
  left: 0;
  float: none;
  -ms-border-radius: 0;
  border-radius: 0;
  -moz-min-width: 0;
  -ms-min-width: 0;
  -o-min-width: 0;
  -webkit-min-width: 0;
  min-width: 0;
  border: 0;
  padding: 15px 0;
  background-color: #4db7c7;
  list-style: none;
  position: absolute;
  z-index: 999;
  width: 290px;
  display: none;
  min-height: 500px;
}

.catalog > .left > .catalog-menu > li > a {
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.catalog > .left > .catalog-menu > li > .menu {
  position: absolute;
  right: 0;
  top: 0;
  left: 290px;
  width: 850px;
  background-color: #6fc8d8;
  min-height: 100%;
  list-style: none;
  margin: 0;
  padding: 15px 0;
  display: none;
  font-size: 0;
}

.catalog > .left > .catalog-menu > li > .menu:after {
  display: block;
  clear: both;
  content: "";
}

.catalog > .left > .catalog-menu > li > .menu > li {
  /*float: left;*/
  display: inline-block;
  width: 33.33333%;
  vertical-align: top;
}

.catalog > .left > .catalog-menu > li > .menu > li > a {
  padding: 10px 30px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.catalog > .search {
  margin-left: 290px;
  position: relative;
  padding: 10px;
  background-color: #6fc8d8;
  border-radius: 10px;
}

@media (max-width: 1199px) {
  header .cart {
    padding: 0;
  }

  header .cart > .title,
  header .cart > .btn {
    float: none;
  }

  header .cart > .title {
    margin-bottom: 10px;
  }

  header .phone {
    padding: 15px 0;
  }

  header .top nav {
    margin-left: 0;
  }

  header .top nav > a {
    padding: 0 3px;
  }

  .catalog > .left > .catalog-menu > li > .menu {
    width: 650px;
  }
}

@media (max-width: 991px) {
  header .logo {
    margin-bottom: 15px;
    text-align: center;
  }

  .catalog > .left > .catalog-menu > li > .menu {
    width: 430px;
  }

  .catalog > .left > .catalog-menu > li > .menu > li {
    width: 50%;
  }
}

@media (max-width: 767px) {
  header {
    text-align: center;
    padding-top: 30px;
  }

  header .logo {
    margin-bottom: 15px;
  }

  header .top nav > a {
    padding: 5px 10px;
    display: inline-block;
  }

  header .cart {
    float: none;
  }

  header .cart > .title,
  header .cart > .btn {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .catalog {
    background-color: transparent;
  }

  .catalog > .left {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    padding: 0;
  }

  .catalog > .left > .catalog-menu {
    width: 100%;
    position: relative;
    -ms-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  .catalog > .left > .catalog-menu > li > .menu {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin-right: 0;
  }

  .catalog > .left > .catalog-menu > li > .menu > li {
    width: 100%;
    float: none;
  }

  .catalog > .search {
    margin-left: 0;
  }
}

footer {
  border-top: 2px solid #4db8c8;
}

footer h4 {
  text-transform: uppercase;
  color: #4db8c8;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
}

footer .menu {
  margin-bottom: 30px;
  list-style: none;
  padding: 0;
}

footer .menu> li > a {
  display: block;
  padding: 5px 0;
  font-weight: 600;
  font-size: 15px;
}

footer img.payments {
  margin-bottom: 40px;
  max-width: 100%;
}

footer .socials {
  margin-bottom: 40px;
}

footer .socials > a:not(:last-child) {
  margin-right: 15px;
}

footer .bottom {
  padding: 30px 0;
}

footer .bottom > p {
  color: #5b5b5b;
}

.catalog .search .btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
  color: #317bbc;
  padding: 0;
  text-align: center;
  font-size: 24px;
  height: 40px;
  width: 40px;
}

#callmeform .txt {
  width: 224px !important;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 1px 0 #fff;
  color: #777;
  font-size: 12px;
  padding: 7px 5px;
}

#callmeform {
  display: none;
  text-shadow: 0 1px #fff;
  border-bottom: 1px solid #4db8c8;
  border-top: 1px solid #4db8c8;
  box-shadow: 0 3px 5px #ccc;
  padding-left: 10px;
  position: absolute;
  *position: absolute;
  border-radius: 7px;
  right: 50px;
  top: 150px;
  width: 245px;
  z-index: 109;
  background: #efefef;
}

#callmeform table {
  border-collapse: collapse;
}

#callmeform table td {
  font-size: 12px;
  padding: 2px 1px;
}

#callmeform .btn {
  background: #4db8c8;
  color: #fff;
  font-size: 12px;
  text-shadow: 0 1px 0 #757575;
  padding: 4px 0 5px 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #87c286;
  width: 150px;
  border-radius: 2px;
}

#callmeform .btn_around {
  box-shadow: 0 1px 0 #fff;
  border-radius: 3px;
  border: 1px solid #4db8c8;
  width: 150px;
}

#callmeform h6 {
  color: #4db8c8;
  font-size: 13px;
  padding: 10px 0 8px 0;
  margin: 0;
}

#callme_result {

  display: block;
  clear: both;
  margin: 5px 11px 10px 0px;
}

#cme_cls {
  height: 15px;
  width: 15px;
  float: right;
  display: inline;

  margin: 12px 14px 0 0;
  box-shadow: 0 1px 0 #fff;
}