<div class="col-md-8 col-lg-9">

<ul class="nav nav-tabs simplecheckout-tabs">
  <li class="active"><a data-toggle="tab" href="#panel1">Шаг 1: Личные данные</a></li>
  <li><a data-toggle="tab" href="#panel2">Шаг 2: Способ доставки</a></li>
   <li><a data-toggle="tab" href="#panel3">Шаг 3: Способ оплаты</a></li>
  
</ul>
<div class="tab-content">
     <div id="panel1" class="tab-pane fade in active">
  <section class="section_1">
      <?php if ($display_registered) { ?>
        <div class="success"><?php echo $text_account_created ?></div>
      <?php } ?>
      <?php if ($display_you_will_registered) { ?>
        <div class="you-will-be-registered"><?php echo $text_you_will_be_registered ?></div>
      <?php } ?>
<!--       <h2 class="title">
          <small>ШАГ 1 из 3</small>
          <span>Укажите контактную информацию</span>
      </h2> -->
      <form>
        <?php foreach ($rows as $row) { ?>
          <?php echo $row ?>
        <?php } ?>
      </form>
  </section>
    </div>
    

