footer > .container .top .row .col-md-12 .logo {
    text-align: center;
}

footer > .container .top .row .col-md-12 .logo >img {
    position: relative;
    top: -45px;
}

footer > .container .top .row .col-md-12 .row .col-md-3 .menu {
    margin-bottom: 30px;
    list-style: none;
    padding-left: 0px;
    padding-top: 15px;
}

footer > .container .top .row .col-md-12 .row .footer-col {
    
}

footer > .container .top .row .col-md-12 .row .footer-col .social-icon {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
}

footer > .container .top .row .col-md-12 .row .col-md-3 .adress {
    padding-top: 20px;
}

footer > .container .bottom .payments {
    padding-top: 15px;
}

#about-us {
    padding-bottom: 30px;
}

#about-us .col-about-us > h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #508aab;
    text-align: center;
    padding-top: 60px;
}

#about-us .col-about-us .about-us {
    font-size: 14px;
    text-align: center;
    color: #8b8b8b;
}

#about-us .col-about-us .text {
    font-size: 14px;
    text-align: center;
    color: #8b8b8b;
    padding-top: 20px;
    padding-bottom: 10px;
}

#privileges .col-privileges > h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #508aab;
    text-align: center;
    padding-top: 30px;
}

#privileges .col-privileges .privileges {
    font-size: 14px;
    text-align: center;
    color: #8b8b8b;
}

#privileges .col-privileges .col-privileges-icon >img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 30px;
    max-height: 101px;
}

#privileges .col-privileges .col-privileges-icon .text {
    font-size: 14px;
    text-align: center;
    color: #317bbc;
    padding-top: 20px;
}

#opinion .col-opinion > h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #508aab;
    text-align: center;
    padding-top: 60px;
}

#opinion .col-opinion .opinion {
    font-size: 14px;
    text-align: center;
    color: #8b8b8b;
}

#opinion .col-opinion .col-opinion-text {
    padding-top: 20px;
}

#opinion .col-opinion .col-opinion-text .text {
    font-size: 14px;
    text-align: left;
    color: #8b8b8b;
    padding-top: 0px;
    padding-bottom: 10px;
}

#opinion .col-opinion .col-opinion-text .date {
    font-size: 14px;
    text-align: left;
    color: #8b8b8b;
    padding-top: 0px;
    padding-bottom: 0px;
}


#opinion .col-opinion .col-opinion-text .name{
    font-size: 14px;
    text-align: left;
    color: #0f8cae;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 600;
}

#opinion .col-opinion .all-opinion {
    font-size: 14px;
    text-align: center;
    padding-top: 40px;
    text-decoration: underline;
}

#news .col-news > h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #508aab;
    text-align: center;
    padding-top: 40px;
}

#news .col-news .news {
    font-size: 14px;
    text-align: center;
    color: #8b8b8b;
}

#news .col-news .col-news-text {
    padding-top: 10px;
}

#news .col-news .col-news-text .container-date {
    background-color: #5dbece;
    color: #fff;
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#news .col-news .col-news-text .news-title {
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1.1px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

#news .col-news .col-news-text .text {
    font-size: 14px;
    text-align: center;
    color: #8b8b8b;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.3;
    height: 130px;
}

#news .col-news .col-news-text .btn {
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.9px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 18%;
    margin-right: 18%;
    color: #039cc8;
    width: 60%;
    margin-bottom: 50px;
}

.page_container .products .section_title > h1 {
    color: #dd2f60;
}

.products .product > .description > a {
    text-transform: capitalize;
}

#homeCarousel .carousel-indicators > li {
    background-color: #dadbdb;
    color: #dadbdb;
    height: 22px;
    width: 22px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
}

#homeCarousel .carousel-indicators > li.active {
    background-color: #4db8c8;
    color: #4db8c8;
    border-color: #4db8c8;
    height: 22px;
    width: 22px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
}

.articles article > .btn {
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 50px;
}

.common-home .articles .title {
    text-transform: uppercase;
    height: 40px;
    overflow: hidden;
    font-weight: 600;
}

.section_block.articles.news .section_title {
    margin-bottom: 10px;
}

.articles article.banner {
    padding-top: 20px;
}

.scrollbox-slider > .controls > .control .fa {
    color: #a6dbe3;
    font-size: 40px;
    font-weight: 400;
}