
.page_container > header #search {
    padding: 0;
    border: 2px solid #c5d5e3;
    border-radius: 30px;
    position: relative;
}

.page_container > header > section .phone h4 {
    color: #4684c0;    
}

.page_container > header > section .phone {
    position: relative;
    margin: 0;
    text-align: center;
}

@media (min-width: 992px) {
    .page_container > header .search {
        width: 100%;
    }
	.w-20 {
		width: 20% !important;
	}
	.w-27 {
		width: 27% !important;
	}
	.w-28 {
		width: 28% !important;
	}
}

@media (min-width: 992px) and (max-width:1200px) {
    .page_container > header > section .phone {
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .top .flex-center > div {
        text-align: center;
    }
}

#search {
    width: 100%;
}

#search .form-control {
    padding: 5px 5px 5px 20px;
    margin: 0;
    font-size: 13px;
    width: 80%;
    display: inline-block;
    border: none !important;
    border-radius: 25px;
    box-shadow: none;
}

#search .btn {
    padding: 0px;
    margin: 0;
    float: right;
    background: none;
    color: #2e77ba;
    font-size: 30px;
    line-height: 40px;
    display: inline-block;
    right: 15px;
    position: relative;
    bottom: 2px;
    font-weight: 300;
}

 .page_container > header .catalog {
    border-radius: 5px;
}

 .page_container > header .catalog .row .catalog-menu .dropdown {
    display: inline-block;
    margin-right: 0px;
    float: left;
    background: #4db8c8;
    color: #fff;
    border-radius: 5px;
    position: inherit;
}

 .page_container > header .catalog .row .catalog-menu .dropdown:hover>a:after {
    border-width: 0px 15px 15px;
    border-style: solid;
    border-color: #ffffff;
    display: block;
    z-index: 999;
 }

 .page_container > header .catalog .row .catalog-menu > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 7px;
    font-weight: 600;
}

 .page_container > header .catalog .row .catalog-menu > li > a:hover {
    color: #c6fbf7;
    background-color: #4db8c8;
}

 .page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu li a {
    background: #fff;
    color: #2b3946;
    display: inline-block;
    padding: 5px 25px;
    width: auto;
}

 .page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    background: #fff;
}

 .page_container > header .catalog .row .catalog-menu .dropdown:hover .dropdown-menu {
    display: block;
}
 .page_container > header .catalog .row .catalog-menu #brands > a{
    color: #c6fbf7;
}

 .page_container > header .catalog .row .catalog-menu #promo > a{
    color: #fffc00;
}

 .page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu li a:hover {
    background-color: #5dbfcd;
    color: #fff;
    border-radius: 10px;
}

 .page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu li {
    width: 50%;;
    float: left;
}

.catalog-menu.nav.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    float: none;
    background: #4db8c8;
    border-radius: 5px;
}

.page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu {
    width: 100%;
    position: absolute;
    left: 0;
    border-radius: 10px;
}

.page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu .row .element {
    display: inline-block;
    padding: 10px;
    margin: 7px;
}

.catalog .product .action {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    text-align: right;
}

.element .product {
    position: relative;
}

.catalog .product .action > .discount {
    width: 47px;
    height: 29px;
    background: url(./images/discount_bg.png) center center;
    -ms-background-size: contain;
    background-size: contain;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
}

.page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu .element .product .img-container {
    min-width: 100px;
    min-height: 180px;
    margin-top: 0;
    background-size: contain;
}

.page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu .element .product .description {
    width: 200px;
    text-align: center;
    padding-top: 15px;
}

.page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu .element .product .description > a {
    text-decoration: underline;
}

.page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu .element .product .description .added {
    display: none;
}

.page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu .element .product .description .price {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu .element .product .description > button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu .brands {
    border-top: 1px solid #eee;
    padding: 30px 0 0;
    width: 95%;
    margin: 0 auto 30px auto;
    max-height: 130px;
    overflow: hidden;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #4db8c8 !important;
    border-color: #337ab7;
}

.page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu .row .element img{
    max-width: 110px;
    height: auto;
}

.navbar-header #category {
    float: left;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 600;
    line-height: 56px;
    color: #fff;
}

.catalog .navbar-header {
    background: #4db8c8;
}

.navbar-header .btn-navbar {
    float: none;
    color: #fff;
    font-size: 22px;
    padding: 0 !important;
    border-radius: 0;
    margin-right: auto;
    margin-left: auto;
}

.navbar-header .btn-navbar i {
    margin-right: 10px;
}


@media(max-width: 767px) {
    
    #popup-quickview .tab-content {
        margin-top: 20px;
    }
    
    #popup-quickview .social-wrap {
        bottom: 0 !important;
        position: relative !important;
        padding: 0 !important;
    }
    
    #popup-quickview .btn-one {
        float: left !important;
        display: block !important;
        right: 0 !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
    
    #popup-quickview .tab-content .btn-group-product .btn-add-to-cart-quickview {
        float: left;
        margin: 20px 0;
        display: block;
    }
    
    header {
        padding-top: 20px;
    }
    
    header .top {
        margin-bottom: 25px;
    }
    
    header .logo {
        margin: 10px;
    }
    
    .page_container > header > section .phone {
        margin: 0;
        margin-bottom: 15px;
    }
    
    .page_container > header > section .search {
        margin-bottom: 25px;
    }
    
    /*.top .flex-center {
        display: block;
    }*/
    
    .catalog-menu.nav.navbar-nav {
        border-radius: 0;
        margin: 0 -15px;
    }
    
    .catalog-menu.nav.navbar-nav li {
        width: 100%;
    }
    
    .page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu {
        width: 100%;
        border-radius: 0;
        position: relative;
        left: auto;
        top: auto;
    }
    .page_container > header .catalog .row .catalog-menu .dropdown.open .dropdown-menu {
        display: block;
    }
    .page_container > header .catalog .row .catalog-menu .dropdown:hover .dropdown-menu {
        display: block;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: #4db8c8;
    }
    .row.brands {
        display: none;
    }
    .page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu li {
        width: 100% !important;
        float: left;
        text-align: center;
    }
    .page_container > header .catalog .row .catalog-menu .dropdown .dropdown-menu .row {
        margin: 0;
    }
}

.flex-center {
    align-items: center;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;    
}

.flex-between {
    align-items: center;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;    
}

.flex-around {
    align-items: center;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;    
}

/*.p-0 {
    padding: 0;
}*/

header .wishlist {
    display: inline-block;
}

header .item-btn {
    display: inline-block;
    margin-right: 0;
	position: relative;
}

header .compare {
    text-align: center;
    font-size: 16px;
    height: 32px;
    width: 32px;
    display: inline-block;
    line-height: 28px;
    position: relative;
    margin-right: 0;
    border-radius: 100%;
    border: 3px solid #317bbc;
}

header #wishlist-total {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 3px;
    color: #fff;
    background: #4db8c8;
    box-shadow: 0 0 black;
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 15px;
    border: 2px solid #317bbc;
    border-radius: 100%;
}

header .fa-heart {
    font-size: 32px;
    font-weight: 400;
}

header .cart {
    padding-top: 0;
    float: none;
}

#search .btn i {
    font-weight: 400;
}

header .cart > .title {
    margin: 0;
}

.page_container .products .section_title > h1 {
    color: #508aab;
}

.product:hover .quickview a {
    font-size: 13px;
    line-height: 25px;
}

.product:hover .quickview {
    display: block;
    top: 22%;
    right: 18%;
}

#popup-quickview .tab-content {
    margin-top: 10px;
}

#popup-quickview .nav-tabs {
    display: none;
}

.product .quickview .btn-quickview {
    background-color: rgba(255, 255, 255, 0.85);
    border: medium none;
    box-shadow: none;
    color: #000;
    border-radius: 0;
    font-size: 14px !important;
    font-weight: 500;
    padding: 8px 12px;
    text-transform: none;
    transition: all 0.3s ease 0s;
}

.btn-quickview .fa, .quick-model .fa {
    display: none;
}

.mfp-content #popup-quickview {
    background: #fff none repeat scroll 0 0;
    margin: 0 auto;
    border-radius: 8px;
    border: 2px solid #eee;
    max-width: 700px;
    min-height: 100px;
    position: relative;
    width: 90%;
    padding: 15px;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: rgba(11, 11, 11, 0.25) !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-close-btn-in .mfp-close {
    color: #333333;
    border-radius: 100%;
    border: 2px solid #333;
    height: 26px;
    width: 26px;
    line-height: 24px;
    font-size: 22px;
    margin: 10px;
}

#popup-quickview .tab-content .product-name-quick {
    color: #0f8cae;
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

#popup-quickview .tab-content .rating .fa.fa-star-o {
    font-weight: 600;
    color: #ccc;
}

#popup-quickview .tab-content .rating a {
    color: #2496b5;
    bottom: -2px;
    position: relative;
    margin-left: 8px;
}

#popup-quickview .rating {
    margin-bottom: 20px
}

#popup-quickview .tab-content .rating .fa-stack {
    display: inline-block;
    line-height: 16px;
    font-size: 20px;
    color: #ccc;
    margin-right: 4px;
}

#popup-quickview .special-price strong {    
    font-size: 36px;
    color: #2b3946;
    display: inline-block;
    margin-right: 15px;
    line-height: 36px;
    white-space: nowrap;
}

#popup-quickview .special-price .old-price {
    text-decoration: line-through;
    margin-right: 10px;
    white-space: nowrap;
}

#popup-quickview .special-price .discount {
    display: inline-block;
    width: 47px;
    height: 29px;
    background: url(./images/discount_bg.png) center center;
    -ms-background-size: contain;
    background-size: contain;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: top;
}

#popup-quickview .tab-content .quantity-adder .add-action {
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 40px;
    margin: 0 !important;
    position: relative;
    text-align: center;
    width: 20px;
    background: #efefef;
    line-height: 40px;
    float: left;
    border: 1px solid #cecece;
}

#popup-quickview .tab-content .quantity-adder .quantity-number input {
    float: left;
    display: inline-block;
    height: 40px;
    margin-right: 0;
    padding: 2px;
    text-align: center;
    width: auto !important;
    border-radius: 0px;
    margin: 0 !important;
}

#popup-quickview .tab-content .btn-group-product {
    margin-top: 20px;
}

#popup-quickview .tab-content .btn-group-product .btn-add-to-cart-quickview {
    padding: 10px 30px;
    background-color: #29b4cb;
    border-color: #29b4cb;
    color: #ffffff;
    border-radius: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 10px;
}

#popup-quickview .tab-content .owl-carousel {
    position: relative;
    margin: 20px 0 0;
    display: block !important;
}

#popup-quickview .tab-content .owl-carousel img {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#popup-quickview .tab-content .owl-carousel img:hover, #popup-quickview .tab-content .owl-carousel img:active, #popup-quickview .tab-content .owl-carousel img:focus {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
}

 .ya-share2__container_size_m .ya-share2__icon {
    height: 30px !important;
    width: 30px !important;
}

.ya-share2__list_direction_horizontal > .ya-share2__item {
    margin-right: 10px;
}


#popup-quickview .social-wrap {
    bottom: 0;
    position: absolute;
    right: 0;
}

@media (min-width:768px) {
    #popup-quickview .tab-content .gallery-image {
        width: 50%;
    }
}

.btn-one {
    display: inline-block;
    color: #5dbece;
    margin-left: 15px;
    width: auto;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px dashed;
    padding: 0 !important;
    font-size: 14px !important;
    text-transform: none !important;

}

.btn-one:hover, .btn-one:active, .btn-one:focus {
    color: #0f8cae !important;
    background-color: #fff !important;
    border-color: inherit !important;
}

#popup-quickview .btn-one {
    height: auto;
    margin-top: 10px;
    float: right;
    right: 50px;
    font-size: 14px;
    position: relative;
}

.description .boc_order_category_btn {
    font-size: 14px;
    display: inline-block;
    color: #0f8cae;
    margin-left: 0;
    width: auto;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px dashed;
    padding: 0 !important;
    margin-top: 10px;
}


#popup-quickview .tab-content .new-price {
    font-size: 36px;
    color: #2b3946;
    display: inline-block;
    margin-right: 15px;
    line-height: 36px;
    white-space: nowrap;
}

.page_container > header .catalog .row .catalog-menu .dropdown .added {
    color: #2b3946;
 }
 
header .menu-wrapper {
     min-height: 430px;
 }

 .headline{
    font-size: 26px;
    font-weight: bold;
 }

 .headline-text{
        font-weight: bold;
           font-size: 14px;
 }
.image-articles span{
 color: #7e7e7e;
 display: block;
 text-align: center;
 font-size: 12px;

}
.image-articles img{
    display: block;
    margin: 0 auto 10px auto;
}

.payment-variation .text-articles{
         margin-top: 45px;
}
section.payment, section.delivery{
    margin-top: 40px;
}
section.payment .payment-variation, section.delivery .delivery-variation{
   margin: 32px 0px;
}
section.delivery .text-articles img{
    margin: 20px 0px;
}
section.delivery .text-articles p{
    margin-bottom: 15px;
}
.headline{
    margin-bottom: 20px;
}
.soc_icons{
    float: right;
}
.ya-share2 ul li{
    margin-left: 10px !important;
}
.product_page .left_info #product_slider .carousel-indicators > li > .img-container{
    width: 50px;
    height: 50px;
}

.product_page .left_info #product_slider .carousel-indicators li:hover{
    border: 1px solid #4db8c8;
}
.size-file{
        font-size: 11px;
    color: #525861 !important;
    border-bottom: 0px !important;
}

.go_to_to:hover{
    color: #2a6da8;
    text-decoration: none;

}

.go_to_to{
  color: #5dbece;

}
.mfilter-button-bottom .mfilter-button-reset{
    display: inline-block;
   
    text-decoration: underline;
}
.mfilter-button-bottom .mfilter-reset-icon{
    display: none;
}

.mfilter-button-bottom .btn{
        padding: 5px 40px;
            height: 30px;
            margin-bottom: 15px;
}
.product_artikul .quick-model{
    float: right;
}

.col-privileges-icons span{
  color: #317bbc;
    line-height: 1;
    font-size: 13px;
    display: block;
    width: 78%;
    float: left;
    /* margin-left: 0px; */
    position: relative;
    /* right: 0px; */
    left: 13px;
    top: 5px;
}

@media (max-width:1200px) {
.col-privileges-icons{
    width: 100%;
   margin: 5px 0px;
}
}

.col-privileges-icons{
    width: 33%;
    float: left;
}

.col-privileges-icons img{
    display: block;
 /*   width: 20%;*/
     float: left;
}
.row-icon-privileges{
    margin-top: 20px;
    margin-bottom: 100px; 
}

@media (max-width:768px) {
.col-privileges-icons {
    width: 51%;
    float: left;
    padding: 10px 0;
}
}
.column-5 .col-md-1  {
  width: 0%;
}
.column-5 .col-md-2 {
width: 19%;
}
.column-5 img{
    width: 100%;
}

@media (max-width:990px) {
.column-5 .col-md-2 {
    width: 49%;
    float: left;
}
}

.about-article .bold-article{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.about-article .headline{
    font-size: 14px;
    margin-bottom: 30px;
}
.about-article section{
    margin-top: 35px; 
    margin-bottom: 35px; 

}
.requisites-text{
    font-weight: bold;
}

.section-2 .col-xs-4, .section-2 .col-xs-8{
    margin-bottom: 20px;
}

.section-2 p{
    margin: 15px 0 50px 0 ;
}

.simplecheckout-tabs li {

}

.simplecheckout-tabs>li.active>a, .simplecheckout-tabs>li.active>a:focus, .simplecheckout-tabs>li.active>a:hover{
    background-color: #4db8c8;
    color: #fff;
    border: none;
}

ul.nav.nav-tabs.simplecheckout-tabs{
    border-bottom: 8px solid #4db8c8;
}

.nav-tabs>li{
    margin-bottom: -2px;
}
.simplecheckout-tabs li a{
    color: #333;
}