﻿@font-face {
    font-family: 'Plumb Medium',sans-serif;
    src: url('plumbmedium.eot');
    src: url('plumbmedium.eot') format('embedded-opentype'),
         url('plumbmedium.woff2') format('woff2'),
         url('plumbmedium.woff') format('woff'),
         url('plumbmedium.ttf') format('truetype'),
         url('plumbmedium.svg#plumbmedium') format('svg');
}