.otclass
{
	padding-left: 0px;
	margin-bottom: 8px;
}

.doclass
{
	margin-bottom: 8px;
}

.pusto:before {
    content: "\f005";
    color: #ccc;
}

.well
{
	background: none;
}

.simplecheckout .simplecheckout-table-form-left.polya
{
	display: none;
}

.simpleregister .korotkie
{
	width: 50%;
}

@media (max-width: 768px)
{
	.simpleregister .korotkie
	{
		width: 100%;
	}
	
	
}

.simpleregister-have-account
{
	padding-left: 10px;
}
.simpleregister-block-content .form-group
{
	margin-left: 0px;
	margin-right: 0px;
}

.simplecheckout .form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.simoleedit .simplecheckout-table-form-left.polya
{
	display: inline-block;
    max-width: 100%;
    margin-top: 5px;
    font-weight: 700;
    float: left;
    text-transform: uppercase;
    width: 16.66666667%;
}

.simoleedit .korotkie
{
	float: left;
}

.btnwish
{
	margin-left: 20px;
	margin-right: 20px;
}

.inviz
{
	display: none;
}

#simplecheckout_shipping_address .simplecheckout-block-content
{
	padding: 0px;
}

.categorynew ul li
{
	display: table-cell;
}

.categorynew .mfilter-tb-as-td
{
	width: 100%;
	border: none;
}

.categorynew
{
	padding-left: 0px;
	margin-bottom: 40px;
	margin-top: 30px;
}

.categorynewzag
{
	margin-left: 0px !important;
}

.categorynew li
{
	list-style: none;
}

.categorynew li a
{
	color: #333;
}


.yandex-adaptive {
	width:100% !important;
	height:auto !important;
}

.yandex-adaptive img {
	max-width:100% !important;
	height:auto !important;
}


.simpleregister .simplecheckout-table-form-left.polya {
    display: none;
}


.simple-content fieldset {
    clear: both;
}



.order_page .section_2 .variants .shipping_custom_rows label > input {
    display: block;
}

.catalog .search .btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
    color: #317bbc;
    padding: 0;
    text-align: center;
    font-size: 24px;
    height: 40px;
    width: 40px;
}

#live-search {
    width: 97% !important;
    margin-top: 0px !important;
}
.jivo-btn {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   text-transform: none;
   cursor: pointer;
   background-image: none;
   display: inline-block;
   padding: 6px 12px;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: normal;
   line-height: 1.428571429;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   border: 0px;
   border-radius: 4px;
   white-space: nowrap;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}
.jivo-btn:hover {
   box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.2), inset 0 0 20px 10px rgba(255,255,255,0.3);
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.2), inset 0 0 20px 10px rgba(255,255,255,0.3);
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.2), inset 0 0 20px 10px rgba(255,255,255,0.3);
}
.jivo-btn.jivo-btn-light:hover{
   box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.3), inset 0 0 20px 10px rgba(255,255,255,0.1);
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.3), inset 0 0 20px 10px rgba(255,255,255,0.1);
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.3), inset 0 0 20px 10px rgba(255,255,255,0.1);
}
.jivo-btn.jivo-btn-light{
   box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.3);
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.3);
}
.jivo-btn:active,
.jivo-btn.jivo-btn-light:active{
   box-shadow: 0 1px 0px rgba(255,255,255,0.4), inset 0 0 15px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 0px rgba(255,255,255,0.4), inset 0 0 15px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.4), inset 0 0 15px rgba(0,0,0,0.2);
   cursor: pointer;
}
.jivo-btn:active {
   outline: 0;
   background-image: none;
   -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
   box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.jivo-btn-gradient {
   background-image: url(//static.jivosite.com/button/white_grad_light.png);
   background-repeat: repeat-x;
}
.jivo-btn-light.jivo-btn-gradient {
   background-image: url(//static.jivosite.com/button/white_grad.png);
}
.jivo-btn-icon {
   width:17px;
   height: 20px;
   background-repeat: no-repeat;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
   margin-left: -5px;
}
.jivo-btn-light {
   color: #fff;
}
..jivo-btn-dark {
   color: #222;
}
</style>
<!--[if lte IE 7]>
<style type="text/css">
.jivo-btn, .jivo-btn-icon  {
   display: inline;
}
}


.products .product .in_stock_sticker {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: right;
}

.products .product .in_stock_sticker img {
    width: 120px;
}
