footer {
border-top: 2px solid #4db8c8;
}

footer h4 {
text-transform: uppercase;
color: #4db8c8;
margin-bottom: 20px;
font-size: 15px;
font-weight: bold;
}

footer .titlefour {
text-transform: uppercase;
color: #4db8c8;
margin-bottom: 20px;
font-size: 15px;
font-weight: bold;
}

footer .menu {
margin-bottom: 30px;
list-style: none;
padding: 0;
}

footer .menu> li > a {
display: block;
padding: 5px 0;
font-weight: 600;
font-size: 15px;
}

footer img.payments {
margin-bottom: 40px;
max-width: 100%;
}

footer .socials {
margin-bottom: 40px;
}

footer .socials > a:not(:last-child) {
margin-right: 15px;
}

footer .bottom {
padding: 30px 0;
}

footer .bottom > p {
color: #5b5b5b;
}