
header {
	position: relative;
	padding-top: 15px;
	font-size: 13px;
	margin-bottom: 30px;
}

header .top {
	margin-bottom: 20px;
}

header .logo {
	display: block;
}

header .logo > img {
	max-width: 100%;
}

header .delivery {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
}

header .delivery > .glyphicon {
	margin-right: 5px;
}

header .delivery > strong {
	border-bottom: 1px dotted #4e78b7;
	font-weight: bold;
}

header .phone > h4 {
	color: #78b7c6;
	margin-bottom: 0;
	font-family: 'Plumb Medium';
}

header .phone > a {
	border-bottom: 1px dotted #4e78b7;
	text-decoration: none;
}

header .top nav {
	margin-left: -15px;
	position: relative;
	margin-bottom: 10px;
}

header .top nav > a {
	padding: 0 13px;
	display: inline-block;
	font-weight:600;
}

header .top nav > a:last-child {
	float: right;
	margin-right: 15px;
}

header .top nav > a > i {
	margin-right: 10px;
}

header .cart {
	padding-top: 10px;
	float: right;
}

header .cart:after {
	display:block;
	clear:both;
	content:"";
}

header .cart > .title {
	float: left;
	margin-right: 30px;
	display:block;
	color:#333;
}

header .cart > .title strong {
	color: #78b7c6;
}

header .cart > .title > img {
	float: left;
}

header .cart > .title > .text {
	margin-left: 50px;
}

header .cart > .btn {
	float: left;
}

.catalog {
	background-color: #6fc8d8;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

.catalog > .left {
	float: left;
	width: 290px;
	position: static;
	background-color: #4db7c7;
	padding: 0 15px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	color:#fff;
}

.catalog > .left > .catalog_menu_toggle {
	height: 60px;
	padding-top: 15px;
	padding-left: 15px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	display: block;
	color: #fff0f5;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0);
	/*transform: scaleY(0);*/
}

.catalog > .left.open {
	-ms-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

.catalog > .left.open > a {
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.catalog > .left > .catalog_menu_toggle > .fa-bars {
	padding: 10px 11px;
	background-color: #fff;
	color: #4db8c8;
	-ms-border-radius: 20px;
	border-radius: 20px;
	font-size: 12px;
	margin-right: 10px;
	vertical-align: middle;
}

.catalog > .left > .catalog_menu_toggle > .fa-angle-down {
	margin-left: 10px;
	font-size: 24px;
	vertical-align: middle;
}

.catalog > .left > .catalog-menu {
	margin: 0;
	left: 0;
	float: none;
	-ms-border-radius: 0;
	border-radius: 0;
	-moz-min-width: 0;
	-ms-min-width: 0;
	-o-min-width: 0;
	-webkit-min-width: 0;
	min-width: 0;
	border: 0;
	padding: 15px 0;
	background-color: #4db7c7;
	list-style: none;
	position: absolute;
	z-index: 999;
	width: 290px;
	transform: scaleY(0);
	min-height: 500px;
}

.left:hover  .catalog-menu {
	transform: scaleY(1);
}

.left:hover  .catalog_menu_toggle {
	transform: scaleY(1);
}

.catalog > .left > .catalog-menu > li > a {
	padding: 10px 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	display: block;
}

.catalog > .left > .catalog-menu > li:hover > a,
.catalog > .left > .catalog-menu > li > a:hover {
	background-color: #2e79bb;
}
.catalog > .left > .catalog-menu > li:hover > a.active{
	text-decoration:underline !important;
}

.catalog > .left > .catalog-menu > li > .menu {
	position: absolute;
	right: 0;
	top: 0;
	left: 290px;
	width: 850px;
	background-color: #6fc8d8;
	min-height: 100%;
	list-style: none;
	margin: 0;
	padding: 15px 0;
	display: none;
	font-size:0;
}

.catalog > .left > .catalog-menu > li > .menu:after {
	display: block;
	clear: both;
	content: "";
}

.catalog > .left > .catalog-menu > li > .menu > li {
	/*float: left;*/
	display: inline-block;
	width: 33.33333%;
	vertical-align:top;
	
}

.catalog > .left > .catalog-menu > li > .menu > li > a {
	padding: 10px 30px;
	display: block;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}

.catalog > .left > .catalog-menu > li > .menu > li > a.active {
	text-decoration:underline !important;
}

.catalog > .left > .catalog-menu > li > .menu > li > a:hover {
	background-color: #1d9eb1;
	text-decoration: none;
}

.catalog > .search {
	margin-left: 290px;
	position: relative;
	padding: 10px;
	background-color: #6fc8d8;
	border-radius: 10px;
}

.catalog .search > .form-control {
	-ms-border-radius: 10px;
	border-radius: 10px;
	border: 0;
	padding-right: 50px;
}

.catalog .search > .btn {
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: transparent;
	color: #317bbc;
	padding: 0;
	text-align: center;
	font-size: 24px;
	height: 40px;
	width: 40px;
}

@media (max-width: 1199px) {
	header .cart {
		padding: 0;
	}
	
	header .cart > .title,
	header .cart > .btn {
		float: none;
	}
	
	header .cart > .title {
		margin-bottom: 10px;
	}
	
	header .phone {
		padding: 15px 0;
	}
	
	header .top nav {
		margin-left: 0;
	}
	
	header .top nav > a {
		padding: 0 3px;
	}
	
	.catalog > .left > .catalog-menu > li > .menu {
		width: 650px;
	}
}

@media (max-width: 991px) {
	header .logo {
		margin-bottom: 15px;
		text-align: center;
	}
	
	.catalog > .left > .catalog-menu > li > .menu {
		width: 430px;
	}
	
	.catalog > .left > .catalog-menu > li > .menu > li {
		width: 50%;
	}
}

@media (max-width: 767px) {
	header {
		text-align: center;
		padding-top: 30px;
	}
	
	header .logo {
		margin-bottom: 15px;
	}
	
	header .top nav > a {
		padding: 5px 10px;
		display: inline-block;
	}
	
	header .top nav > a:last-child {
		margin: 0;
		float: none;
	}
	
	header .cart {
		float:none;
	}
	
	header .cart > .title,
	header .cart > .btn {
		display: inline-block;
		float: none;
		vertical-align: top;
	}
	
	.catalog {
		background-color: transparent;
	}
	
	.catalog > .left {
		float: none;
		width: 100%;
		margin-bottom: 10px;
		position: relative;
		padding: 0;
	}
	
	.catalog > .left.open {
		-ms-border-radius: 10px;
		border-radius: 10px;
	}
	
	.catalog > .left > .catalog-menu {
		width: 100%;
		position: relative;
		-ms-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;
	}
	
	.catalog > .left > .catalog-menu > li > .menu {
		position: relative;
		width: 100%;
		left: 0;
		right: 0;
		margin-right: 0;
	}
	
	.catalog > .left > .catalog-menu > li.open > .menu {
		display: block;
	}
	
	.catalog > .left > .catalog-menu > li > .menu > li {
		width: 100%;
		float: none;
	}
	
	.catalog > .search {
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	.catalog > .left.open + .search {
		-ms-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	.catalog > .left > .catalog-menu > li:hover > .menu {
		display: block;
	}
}