﻿.form-control {
height: 40px;
}
a.active{
	text-decoration:underline !important;
}
.form-control:focus {
-webkit-box-shadow: none;
-ms-box-shadow: none;
box-shadow: none;
}

.btn {
-ms-border-radius: 40px;
border-radius: 40px;
height: 40px;
padding: 10px 30px;
}

.btn-primary {
color: #fff;
background-color: #5dbece;
border-color: #5dbece;
}

.btn-primary:hover,
.btn-primary:focus .btn-primary:active {
color: #fff;
background-color: #29b4cb;
border-color: #29b4cb;
}

.btn-primary.btn-outline {
color: #5dbece;
}

.btn-outline {
background-color: transparent;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
background-color: transparent;
}

.img-container {
position: relative;
display: block;
}

.img-container > img {
width: 100%;
}

.fullwidth {
width: 100%;
}


.text-underline {
text-decoration: underline;
}

a.text-underline:hover {
text-decoration: none;
}

/*sizes*/
.size-1x1:after,
.size-1x2:after,
.size-2x1:after,
.size-2x3:after,
.size-3x1:after,
.size-3x2:after,
.size-3x4:after,
.size-4x3:after,
.size-vertical:after,
.size-16x9:after,
.size-16x10:after {
display: block;
content: "";
}

.size-1x1:after {
padding-top: 100%;
}

.size-1x2:after {
padding-top: 200%;
}

.size-2x1:after {
padding-top: 50%;
}

.size-2x3:after {
padding-top: 150%;
}

.size-3x1:after {
padding-top: 33.33333333%;
}

.size-3x2:after {
padding-top: 66.66666666%;
}

.size-3x4:after {
padding-top: 133.3333333333333%;
}

.size-4x3:after {
padding-top: 75%;
}

.size-vertical:after {
padding-top: 150%;
}

.size-16x9:after {
padding-top: 56.25%;
}

.size-16x10:after {
padding-top: 62.5%;
}
/*sizes*/

.bg-item {
background-position: center center;
-ms-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
}

.page_container {
padding-bottom: 50px;
}

.section_block {
position: relative;
padding: 30px 0;
}

.section_block .section_title {
margin-bottom: 40px;
color: #508aab;
}

.section_block .section_title.color-1 {
color: #be325f;
}

.section_block .section_title > h1,
.section_block .section_title > h2,
.section_block .section_title > h3 {
font-size: 22px;
text-transform: uppercase;
font-weight: bold;
}

.section_block .section_title > p {
display: block;
color: #8b8b8b;
}

.section_block .section_title > p > a {
text-decoration: underline;
}

/*custom_select*/
.custom_select > .form-control {
cursor: pointer;
text-align: left;
padding-right: 30px;
position: relative;
}

.custom_select > .form-control > .text {
display: block;
width: 100%;
white-space: nowrap;
overflow: hidden;
-moz-text-overflow: ellipsis;
text-overflow: ellipsis;
}

.custom_select > .dropdown-menu {
-moz-min-width: 100%;
-ms-min-width: 100%;
-o-min-width: 100%;
-webkit-min-width: 100%;
min-width: 100%;
-ms-border-radius: 0;
border-radius: 0;
}

.custom_select > .dropdown-menu > li > a {
outline: none !important;
padding: 5px 10px;
font-size: 13px;
text-decoration: none;
}

.custom_select > .dropdown-menu > li > a:hover {
background-color: #319fda;
color: #fff;
}

.custom_select > .form-control:after {
content: "\f107";
display: block;
color: #303030;
right: 15px;
top: 50%;
-webkit-transform: translate(0, -50%);
-moz-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
-o-transform: translate(0, -50%);
transform: translate(0, -50%);
line-height: 12px;
position: absolute;
-ms-border-radius: 100%;
border-radius: 100%;
font-family: "FontAwesome";
text-align: center;
padding: 1px;
}
/*custom_select*/

/*homeCarousel*/
#homeCarousel {
margin-bottom: 30px;
}

#homeCarousel .carousel-control {
background-color: transparent;
background-image: none;
width: 34px;
height: 34px;
-ms-opacity: 1;
opacity: 1;
display: block;
border: 2px solid #ffffff;
-ms-border-radius: 100%;
border-radius: 100%;
text-align: center;
font-size: 24px;
line-height: 24px;
padding-top: 3px;
-ms-text-shadow: none;
text-shadow: none;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}

#homeCarousel .carousel-control.left {
left: 15px;
}

#homeCarousel .carousel-control.right {
right: 15px;
}

#homeCarousel .carousel-indicators {
position: relative;
margin-bottom: 0;
}

#homeCarousel .carousel-indicators > li {
font-size: 14px;
width: 30px;
height: 30px;
-ms-border-radius: 30px;
border-radius: 30px;
color: #303030;
text-indent: 0;
border-color: transparent;
text-align: center;
padding-top: 5px;
margin: 0;
}

#homeCarousel .carousel-indicators > li.active {
border-color: #319fda;
color: #319fda;
margin: 0;
}

#carouselButtons {
position: absolute;
bottom: 15px;
right: 0;
}

#carouselButtons > .btn {
width: 30px;
height: 30px;
padding: 0;
color: #fff;
}

#carouselButtons > .btn-play {
background-color: #303030;
}

#carouselButtons > .btn-pause {
background-color: #ddd;
margin-right: 10px;
}
/*homeCarousel*/

/*products*/
.products .product {
margin-bottom: 30px;
padding: 30px 10px;
border: 1px solid transparent;
text-align: center;
-ms-border-radius: 4px;
border-radius: 4px;
position: relative;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-ms-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
}

.products .product .action {
position: absolute;
top: 10px;
right: 10px;
z-index: 2;
text-align: right;
}

.products .product .action > .discount {
width: 47px;
height: 29px;
background: url("../images/discount_bg.png") center center;
-ms-background-size: contain;
background-size: contain;
font-size: 14px;
font-weight: bold;
color: #777;
display: inline-block;
text-align: center;
padding-top: 5px;
margin-bottom: 10px;
}

.products .product .action > .promocode > span {
display: block;
font-size: 10px;
font-weight: bold;
text-align: right;
line-height: 12px;
}

.products .product .action > .promocode > span:last-child {
color: red;
}

.products .product.added {
border-color: #319fda;
}

.products .product > .img-container {
padding-top: 75%;
margin-bottom: 15px;
-ms-background-size: contain;
background-size: contain;
}

.products .product > .description > a {
display: block;
margin-bottom: 15px;
font-size: 14px;
height: 40px;
overflow: hidden;
}

.products .product > .description > p {
font-size: 13px;
height: 40px;
overflow: hidden;
color: #676767;
}

.products .product > .description > .price {
margin-bottom: 0;
color: #2b3946;
}

.products .product > .description > .price > strong {
font-size: 24px;
margin-right: 10px;
display: inline-block;
white-space: nowrap;
}

.products .product > .description > .price > i {
text-decoration: line-through;
font-family: "Roboto", sans-serif;
color: #2b3946;
font-size: 14px;
white-space: nowrap;
}

.products .product > .description > .btn {
width: 90%;
margin-top: 20px;
}

.products .product > .description > .added,
.products .product.added > .description > .btn {
display: none;
}

.products .product > .description > .added {
height: 60px;
}

.products .product > .description > .added > p {
font-size: 13px;
}

.products .product > .description > .added > p > a {
text-decoration: underline;
}

.products .product > .description > .added > .quantity_count > .btn-like {
position: absolute;
float: right;
font-size: 18px;
color: #317bbc;
}

.products .product.added > .description > .added {
display: block;
}

.products .scrollbox-slider {
padding-left: 30px;
padding-right: 30px;
}

.products .scrollbox-slider > .controls > .control {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
padding: 0;
height: auto;
width: auto;
font-size: 30px;
color: #303030;
background-color: transparent;
}

.products .scrollbox-slider > .controls > .control.backward {
left: 0;
}

.products .scrollbox-slider > .controls > .control.forward {
right: 0;
}

.products .scrollbox-slider .element {
width: 25%;
}

.products .scrollbox-slider .element > .product {
margin-bottom: 0;
}
/*products*/

/*quantity_count*/
.quantity_count .btn {
padding: 0;
width: 30px;
height: 30px;
background-color: transparent;
color: #303030;
font-size: 10px;
line-height: 30px;
vertical-align: middle;
}

.quantity_count .form-control {
display: inline-block;
padding: 0 15px;
height: 30px;
width: 80px;
-ms-border-radius: 60px;
border-radius: 60px;
text-align: center;
vertical-align: middle;
}
/*quantity_count*/

/*brands*/
.brands .scrollbox-slider {
padding-left: 30px;
padding-right: 30px;
}

.brands .scrollbox-slider > .controls > .control {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
padding: 0;
height: auto;
width: auto;
font-size: 30px;
color: #303030;
background-color: transparent;
}

.brands .scrollbox-slider > .controls > .control.backward {
left: 0;
}

.brands .scrollbox-slider > .controls > .control.forward {
right: 0;
}

.brands .scrollbox-slider .element {
width: 16.66666666666667%;
text-align: center;
}

.brands .scrollbox-slider.brands .element > a {
display: block;
}

.brands .scrollbox-slider.brands .element > a > img {
max-width: 100%;
}

.brands .section_title > .sort {
margin-bottom: 15px;
font-size: 0;
}

.brands .section_title > .sort > .buttons {
display: inline-block;
padding: 0 5px;
}

.brands .section_title > .sort > .buttons:first-child {
border-right: 2px solid #ddd;
}

.brands .section_title > .sort > .buttons > a {
display: inline-block;
padding: 5px 3px;
margin: 0 1px;
text-decoration: underline;
font-weight: 600;
font-size: 16px;
}

.brands .section_title > .sort > .buttons > a.active {
background-color: #83becc;
color: #fff;
text-decoration: none;
}
/*brands*/

/*articles*/
.articles article {
margin-bottom: 30px;
text-align: center;
padding: 20px 0;
}

.articles article.banner {
padding: 0;
}

.articles article > .title {
color: #303030;
font-size: 15px;
margin-bottom: 15px;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
max-height: 42px;
}

.articles article > p {
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
height: 86px;
margin-bottom: 30px;
color: #8b8b8b;
}

.articles article > .img-container {
margin-bottom: 15px;
}

.articles article > .btn {
text-transform: uppercase;
font-weight: 600;
}

.articles article > .date {
padding: 5px 20px;
background-color: #77b6c6;
color: #fff;
display: inline-block;
margin-bottom: 10px;
}

.articles.news > article > p {
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
height: 86px;
margin-bottom: 30px;
color: #8b8b8b;
}
/*articles*/

/*brands*/
.info_slider .scrollbox-slider {
padding-left: 30px;
padding-right: 30px;
}

.info_slider .scrollbox-slider > .controls > .control {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
padding: 0;
height: auto;
width: auto;
font-size: 30px;
color: #303030;
background-color: transparent;
}

.info_slider .scrollbox-slider > .controls > .control.backward {
left: 0;
}

.info_slider .scrollbox-slider > .controls > .control.forward {
right: 0;
}

.info_slider .scrollbox-slider .element {
width: 16.66666666666667%;
text-align: center;
}

.info_slider .scrollbox-slider .element > .item > .img-container {
margin-bottom: 15px;
}

.info_slider .scrollbox-slider .element > .item > .img-container > img {
height: 90px;
max-width: 100%;
width: auto;
}

.info_slider .scrollbox-slider .element > .item > a {
display: block;
font-size: 14px;
text-decoration: underline;
margin-bottom: 10px;
}

.info_slider .scrollbox-slider .element > .item > p {
font-size: 14px;
}
/*brands*/

/*slider-price*/
.slider_price_forms {
margin: 0 -15px 30px -15px;
}

.slider_price_forms:after {
display: block;
content: "";
clear: both;
}

.slider_price_forms > .left_count,
.slider_price_forms > .right_count {
width: 50%;
padding: 0 15px;
float: left;
}

.slider_price_forms > .left_count > p,
.slider_price_forms > .right_count > p {
margin-bottom: 5px;
}

.slider_price_forms > .left_count > .form-control,
.slider_price_forms > .right_count > .form-control {
padding: 7px 15px;
height: auto;
-ms-border-radius: 10px;
border-radius: 10px;
text-align: right;
font-weight: 600;
}

.slide-valute {
text-align: right;
}

.ui-slider-handle.ui-state-default.ui-corner-all {
-webkit-transition-duration: 0;
-moz-transition-duration: 0;
-ms-transition-duration: 0;
-o-transition-duration: 0;
transition-duration: 0;
outline: none;
cursor: pointer;
height: 24px;
width: 24px;
-ms-border-radius: 18px;
border-radius: 18px;
background-image: none;
border: 5px solid #fff;
-webkit-box-shadow: 0 0 0 1px rgba(193,193,193,1);
-moz-box-shadow: 0 0 0 1px rgba(193,193,193,1);
-ms-box-shadow: 0 0 0 1px rgba(193,193,193,1);
box-shadow: 0 0 0 1px rgba(193,193,193,1);
background-color: #4bb8cc;
margin-top: -8px;
top: 0;
}

.ui-widget-content {
background-color: #c1c1c1!important;
}
/*slider-price*/

/*catalog_filter*/
.catalog_filter {
padding: 0 30px 30px 30px;
border: 1px solid #ddd;
-ms-border-radius: 10px;
border-radius: 10px;
margin-bottom: 30px;
}

.catalog_filter .content > .title > h5 {
font-weight: 700;
font-size: 16px;
margin-bottom: 10px;
}

.catalog_filter > .content {
padding: 30px 0;
border-bottom: 1px solid #ddd;
}

.catalog_filter > .content > .checkbox {
padding-left: 20px;
font-weight: normal;
cursor: pointer;
margin-bottom: 15px;
}

.catalog_filter > .content > .checkbox > input:checked + span {
font-weight: bold;
}

.catalog_filter > .text-center {
padding-top: 30px;
}

.catalog_filter > .text-center > .btn {
font-weight: 600;
margin-bottom: 15px;
}
/*catalog_filter*/

/*inner_page*/
.inner_page .page_title {
margin-bottom: 30px;
}

.inner_page .page_title > h1,
.inner_page .page_title > h2,
.inner_page .page_title > h3 {
font-size: inherit;
color: inherit;
font-weight: bold;
color: #0e8eb3;
font-size: 30px;
margin-bottom: 0;
}

.inner_page .page_title > h1 > .icon,
.inner_page .page_title > h2 > .icon,
.inner_page .page_title > h3 > .icon {
float: right;
}

.inner_page .page_title > h1 > .icon-adjustments,
.inner_page .page_title > h2 > .icon-adjustments,
.inner_page .page_title > h3 > .icon-adjustments {
font-size: 36px;
width: 34px;
height: 32px;
overflow: hidden;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}

.inner_page .page_title > h1 > .icon-adjustments:before,
.inner_page .page_title > h2 > .icon-adjustments:before,
.inner_page .page_title > h3 > .icon-adjustments:before {
position: relative;
top: -2px;
left: -2px;
}

@media (max-width:991px) {
.inner_page .page_title > h1,
.inner_page .page_title > h2,
.inner_page .page_title > h3 {
font-size: 20px;
}
}
/*inner_page*/

/*catalog_page*/
.catalog_page_sort .pull-left > span {
margin-right: 5px;
}

.catalog_page_sort .pull-left > .custom_select {
display: inline-block;
}

.catalog_page_sort .pull-left > .custom_select > .form-control {
width: 270px;
border-color: #77b6c6;
height: 44px;
-ms-border-radius: 10px;
border-radius: 10px;
padding-left: 15px;
font-weight: 600;
}

.catalog_page_sort .pull-left > .custom_select > .form-control:after {
content: "\f0d7";
color: #006699;
}

.catalog_page_sort .pull-right {
padding-top: 10px;
}

.catalog_page_sort .pull-right > span {
margin-right: 5px;
}

.catalog_page_sort .pull-right > a:not(:last-child) {
margin-right: 5px;
}

.catalog_page_sort .pull-right > a.active {
color: #333;
}
/*catalog_page*/

/*bread_crumb*/
.bread_crumb {
margin-bottom: 30px;
}

.bread_crumb > a,
.bread_crumb > span {
display: inline-block;
font-size: 13px;
}

.bread_crumb > span {
color: #676767;
}

.bread_crumb > a {
text-decoration: underline;
}

.bread_crumb > a:after {
content: "\f105";
display: inline-block;
font-family: "FontAwesome";
margin: 0 10px;
}

@media (max-width:991px) {
.bread_crumb > a,
.bread_crumb > span {
font-size: 12px;
}

.bread_crumb > a:after {
margin: 0 5px;
}
}
/*bread_crumb*/

/*pagination*/
.pagination {
margin-top: 30px;
text-align: center;
width: 100%;
float: none;
}

.pagination.text-left {
text-align: left;
}

.pagination > .btn {
padding: 5px 10px;
-ms-border-radius: 2px;
border-radius: 2px;
margin: 1px 2px;
background-color: #349faf;
border: 1px solid #349faf;
color: #fff;
height: auto;
}

.pagination > .btn.active {
background-color: #55c0d0;
-webkit-box-shadow: none;
-ms-box-shadow: none;
box-shadow: none;
}
/*pagination*/

/*sidebar*/
.sidebar {
margin-bottom: 30px;
}
/*sidebar*/

/*article_full*/
.article_full {
color: #4c4c4c;
}

.article_full p {
margin-bottom: 20px;
}

.article_full > h1,
.article_full > h2,
.article_full > h3,
.article_full > h4,
.article_full > h5,
.article_full > h6 {
font-weight: bold;
margin-bottom: 20px;
}

.article_full > h5 {
font-size: 18px;
}

.article_full blockquote {
padding: 30px;
border: 0;
font-size: 14px;
background-color: #71c6d3;
color: #fff;
-ms-border-radius: 4px;
border-radius: 4px;
}
/*article_full*/


/*cart_section*/
.cart_section {
margin-bottom: 30px;
}

.cart_section > table {
width: 100%;
margin-bottom: 30px;
}

.cart_section > table:after {
display: block;
clear: both;
content: "";
}

.cart_section > table th,
.cart_section > table td {
padding: 25px 15px;
vertical-align: top;
}

.cart_section > table thead {
border-bottom: 1px solid #ddd;
}

.cart_section > table tbody {
border-bottom: 1px solid #ddd;
}

.cart_section > table td > strong.title {
display: none;
margin-bottom: 5px;
}

.cart_section > table td > .img-container {
width: 130px;
height: 130px;
padding: 0;
}

.cart_section > table td > .description {
max-width: 250px;
}

.cart_section > table td > .description > a {
font-size: 14px;
margin-bottom: 5px;
display: block;
font-weight: 600;
}

.cart_section > table td > .description > p {
font-size: 13px;
}

.cart_section > table td > .price {
position: relative;
}

.cart_section > table td > .price > strong {
font-size: 24px;
display: block;
margin-bottom: 5px;
white-space: nowrap;
}

.cart_section > table td > .price > i {
text-decoration: line-through;
margin-right: 10px;
white-space: nowrap;
}

.cart_section > table td > .price > .discount {
display: inline-block;
width: 47px;
height: 29px;
background: url("../images/discount_bg.png") center center;
-ms-background-size: contain;
background-size: contain;
font-size: 14px;
font-weight: bold;
color: #777;
text-align: center;
padding-top: 5px;
margin-bottom: 10px;
}

.cart_section > table td > .quantity_count {
white-space: nowrap;
}

.cart_section > table td > .quantity_count > .form-control {
width: 60px;
}

.cart_section > table td > .btn-like,
.cart_section > table td > .btn-remove {
font-size: 24px;
background-color: transparent;
padding: 0;
width: 40px;
height: 40px;
}

.cart_section > table td > .btn-like {
margin-right: 10px;
margin-left: -10px;
}

.cart_section > a {
border-bottom: 1px dotted #319fda;
float: left;
display: block;
}

.cart_section .total {
float: right;
}

.price {
margin-bottom: 0;
color: #2b3946;
}

.cart_section .total > p {
color: #4c4c4c;
}

.cart_section .total > .price > strong {
font-size: 24px;
margin-right: 10px;
display: inline-block;
white-space: nowrap;
}

.cart_section .total > .price > i {
text-decoration: line-through;
font-family: "Roboto", sans-serif;
color: #2b3946;
font-size: 14px;
white-space: nowrap;
}

.cart_section .total > .btn {
margin-top: 20px;
width: 100%;
}

/*cart_section*/

/*order_page*/
.order_page section {
margin-bottom: 30px;
}

.order_page section .title {
font-size: 18px;
font-weight: bold;
color: #0f8cae;
margin-bottom: 30px;
}

.order_page section .title > small {
display: block;
font-size: 12px;
margin-bottom: 10px;
color: #a6a6a6;
}

.order_page .section_1 form .form-control {
border: 2px solid #ddd;
-ms-border-radius: 10px;
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
}

.order_page .section_2 .variants {
margin-bottom: 30px;
}

.order_page .section_2 .variants label {
font-weight: normal;
display: block;
cursor: pointer;
color: #626262;
margin-bottom: 15px;
}

.order_page .section_2 .variants label > input {
display: none;
}

.order_page .section_2 .variants label > span {
display: block;
width: 100%;
padding: 20px;
border: 3px solid #ddd;
-ms-border-radius: 10px;
border-radius: 10px;
}

.order_page .section_2 .variants label > span > strong {
display: block;
}

.order_page .section_2 .variants label > input:checked + span {
border-color: #5dbfcd;
}

.order_page .adressess label {
display: block;
margin-bottom: 30px;
font-weight: normal;
}

.order_page .adressess label > input {
display: none;
}

.order_page .adressess label > span {
display: block;
}

.order_page .adressess label > .text > span:first-child {
color: #319fda;
border-bottom: 1px dotted #319fda;
cursor: pointer;
}

.order_page .adressess label > .text > span:last-child {
display: block;
font-size: 12px;
margin-top: 5px;
}

.order_page .adressess label > input:checked + span > span:first-child {
border-color: transparent;
font-weight: bold;
}

.order_page .adressess .more {
border-bottom: 1px dotted #319fda;
margin-bottom: 30px;
display: inline-block;
}

.order_page .adressess .map {
background-color: #ddd;
height: 250px;
margin-bottom: 30px;
}

.order_page .orders {
padding: 30px 15px;
background-color: #f8f7f7;
font-size: 13px;
border: 1px solid #eee;
-ms-border-radius: 4px;
border-radius: 4px;
color: #a6a6a6;
}



.order_page .orders > h4 {
font-size: 24px;
font-weight: bold;
color: #0f8cae;
}

.order_page .orders > hr {
margin: 20px 0;
}

.order_page .orders .product:after {
display: block;
clear: both;
content: "";
}

.order_page .orders .product {
padding: 10px;
background-color: #fff;
margin-bottom: 15px;
}

.order_page .orders .product > .img-container {
float: left;
width: 40px;
height: 40px;
}

.order_page .orders .product > .text {
margin-left: 50px;
}

.order_page .orders .product > .text > a {
display: block;
margin-bottom: 5px;
font-size: 12px;
}

.order_page .orders .product > .text > p {
margin-bottom: 0;
color: #676767;
font-size: 12px;
}

.order_page .orders > .price {
padding-top: 5px;
margin-bottom: 20px;
}

.order_page .orders > .price > strong {
font-size: 18px;
margin-right: 5px;
white-space: nowrap;
}

.order_page .orders > .price > strong > i {
text-decoration: line-through;
white-space: nowrap;
}

.order_page .orders > .btn-primary {
width: 100%;
}

@media (min-width: 991px) {
.order_page .orders.affix {
position: relative!important;
}
}

@media (min-width: 992px) {
.order_page .orders.affix {
position: fixed!important;
top: 50px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.order_page .orders.affix {
width: 293px;
}
}

@media (min-width: 1200px) {
.order_page .orders.affix {
width: 263px;
}
}

/*order_page*/

/*product_page*/
.product_page .left_info {
margin-bottom: 30px;
}

.product_page .left_info #product_slider {
position: relative;
}

.product_page .left_info #product_slider:after {
display: block;
clear: both;
content: "";
}

.product_page .left_info #product_slider .carousel-indicators {
float: left;
position: relative;
width: auto;
height: auto;
margin: 0;
left: 0;
top: 0;
bottom: 0;
right: 0;
display: block;
}

.product_page .left_info #product_slider .carousel-indicators > li {
width: auto;
height: auto;
margin: 0 0 10px 0;
border: 0;
float: none;
display: block;
padding: 5px;
border: 1px solid #ddd;
-ms-border-radius: 4px;
border-radius: 4px;
text-indent: 1px;
text-align: center;
}

.product_page .left_info #product_slider .carousel-indicators > li > .img-container {
width: 70px;
height: 70px;
}

.product_page .left_info #product_slider > .carousel-inner {
margin-left: 100px;
float: none;
width: auto;
}

.product_page .left_info #product_slider .carousel-indicators > li.video {
padding: 0;
border: 0;
}

.product_page .left_info #product_slider .carousel-indicators > li.video > a {
background-color: #4db8c8;
color: #fff;
display: block;
padding: 25px 15px;
-ms-border-radius: 4px;
border-radius: 4px;
font-size: 18px;
margin-bottom: 5px;
}

.product_page .right_info > .content {
margin-bottom: 30px;
}

.right_info .rating .stars {
display: inline-block;
margin-right: 10px;
font-size: 20px;
color: #ccc;
}

.stars .active, #review .fa-star.active {
color: #4db8c8;
}

.right_info .rating .testimonials {
border-bottom: 1px dotted #5dbece;
}

.testimonials{
	color: #5dbece;
}
.rating a{
	color: #5dbece !important;
} 
.right_info .rating a:last-child {
float: right;
text-decoration: underline;
}

.product_page .right_info .price {
position: relative;
float: left;
}

.product_page .right_info .price > strong {
font-size: 36px;
color: #2b3946;
display: inline-block;
margin-right: 15px;
line-height: 36px;
white-space: nowrap;
}

.product_page .right_info .price > i {
text-decoration: line-through;
margin-right: 10px;
white-space: nowrap;
}

.product_page .right_info .price > .discount {
display: inline-block;
width: 47px;
height: 29px;
background: url("../images/discount_bg.png") center center;
-ms-background-size: contain;
background-size: contain;
font-size: 14px;
font-weight: bold;
color: #777;
text-align: center;
padding-top: 5px;
margin-bottom: 10px;
vertical-align: top;
}

.product_page .right_info .brand {
float: right;
}

.product_page .right_info .quantity_count {
display: inline-block;
margin-right: 15px;
vertical-align: middle;
}

.product_page .right_info .quantity_count:after {
display: block;
clear: both;
content: "";
}

.product_page .right_info .quantity_count > .btn,
.product_page .right_info .quantity_count > .form-control {
height: 40px;
border: 1px solid #b5b5b5;
display: block;
float: left;
-ms-border-radius: 0;
border-radius: 0;
}

.product_page .right_info .quantity_count > .form-control {
width: 60px;
margin: 0 -1px;
}

.product_page .right_info .quantity_count > .btn {
padding: 0;
background-color: #eee;
width: 24px;
-ms-border-radius: 2px 0 0 2px;
border-radius: 2px 0 0 2px;
}

.product_page .right_info .quantity_count > .btn:last-child {
-ms-border-radius: 0 2px 2px 0;
border-radius: 0 2px 2px 0;
}

.product_page .right_info .btn-primary {
padding: 10px 40px;
text-transform: uppercase;
font-size: 16px;
font-weight: bold;
height: auto;
}

.product_page .right_info .actions > label {
margin-right: 30px;
font-weight: normal;
cursor: pointer;
}

.product_page .right_info .actions > label > input {
width: 20px;
height: 20px;
vertical-align: middle;
margin-right: 5px;
}

.product_page .right_info .actions > label > span {
color: #4e78b7;
/*border-bottom: 1px dotted #4e78b7;*/
}

.product_page .right_info .actions > a {
color: #888;
}

.product_page .right_info .actions > a > span {
color: #4e78b7;
}

.product_page .right_info .actions > a > img {
margin-right: 10px;
}

.product_page .info_table {
margin-top: 30px;
}

.product_page .info_table > .row {
margin-left: 0;
margin-bottom: 10px;
}

.product_page .info_table > .row > .column:first-child {
border-bottom: 2px dotted #aaa;
padding-left: 0;
}

.product_page .info_table > .row > .column:first-child > span {
padding-bottom: 2px;
background-color: #fff;
padding-right: 30px;
margin-bottom: -2px;
display: inline-block;
}

.product_page .info_table > .row > .column:last-child {
padding-left: 30px;
}

.product_page .info_table > a {
border-bottom: 1px dotted #5dbece;
margin-top: 10px;
display: inline-block;
}
.go_to{
	color: #5dbece;
}

.product_details > .instruction > strong.title {
display: block;
margin-bottom: 5px;
}

.product_details > .instruction > p {
margin-bottom: 30px;
}

.product_details .products > h5 {
font-weight: bold;
margin-bottom: 30px;
color: #0f8cae;
}

.product_details .instruction > p {
margin-bottom: 30px;
}
/*product_details*/

/*site_tab*/
.site_tab .nav-tabs {
border-bottom: 3px solid #4db8c8;
}

.site_tab .nav-tabs > li > a {
border: 0;
margin: 0;
-ms-border-radius: 10px 10px 0 0;
border-radius: 4px 4px 0 0;
color: #888;
padding: 15px 30px;
font-weight: 600;
font-size: 16px;
}

.site_tab .nav-tabs > li.active > a,
.site_tab .nav-tabs > li.active > a:hover {
background-color: #4db8c8;
color: #fff;
border: 0;
}

.site_tab .nav-tabs > li > a:hover {
border: 0;
background-color: transparent;
}

.site_tab .tab-content {
padding: 30px 0;
}
/*site_tab*/

/*personal_data*/
.personal_data .history_block_1 {
position: relative;
margin-bottom: 30px;
}

.personal_data .subtitle {
margin-bottom: 30px;
}

.personal_data .history_block_1 table {
width: 100%;
}

.personal_data .history_block_1 table > thead {
background-color: #4db8c8;
color: #fff;
}

.personal_data .history_block_1 table > thead > tr > th,
.personal_data .history_block_1 table > tbody > tr > td {
padding: 15px 30px;
}

.personal_data .history_block_1 table > tbody > tr {
border: 1px solid #ddd;
margin-bottom: 10px;
width: 100%;
}

.personal_data .history_block_1 table > tbody > tr > td > .btn-primary {
width: 100%;
text-transform: uppercase;
font-weight: 600;
}

.personal_data .history_block_1 table > tbody > tr > td {
font-size: 16px;
}

.personal_data .history_block_1 table > tbody > tr > td > a {
text-decoration: underline;
}

.personal_data .history_block_1 table > tbody > tr > td > strong.red {
color: #e13866;
}

.personal_data .history_block_2 .actions .price {
text-align: right;
}

.personal_data .history_block_2 .actions .btn {
padding: 10px 50px;
height: auto;
margin-right: 5px;
}

.personal_data .history_block_2 .actions .price > strong {
font-size: 30px;
font-weight: bold;
margin-right: 10px;
}

.personal_data .history_block_2 .actions .price > span {
margin-right: 10px;
}

.personal_data .history_block_2 .actions .price > i {
text-decoration: line-through;
}

.personal_data .personal_data_section .form-group {
margin-bottom: 30px;
}

.personal_data .personal_data_section .form-group label {
padding-top: 10px;
}

.personal_data .personal_data_section .form-group a {
display: inline-block;
margin-top: 10px;
text-decoration: underline;
}

.personal_data .personal_data_section .discount {
text-align: center;
padding: 0 30px;
}

.personal_data .personal_data_section .discount > h4 {
margin-bottom: 20px;
font-weight: 700;
color: #515151;
}

.personal_data .personal_data_section .discount > p {
color: #666666;
margin-bottom: 15px;
}

.personal_data .personal_data_section .discount > div {
font-size: 30px;
color: #888;
margin-bottom: 10px;
}

.personal_data .personal_data_section .discount > div > strong {
font-weight: 600;
color: #b5b5b5;
}

.personal_data .personal_data_section .discount > div > h5 {
font-size: 48px;
color: #4db8c8;
display: inline-block;
margin: 0 15px;
font-weight: bold;
}

.personal_data .personal_data_section .discount > strong {
display: block;
font-size: 30px;
}
/*personal_data*/

@media (max-width: 1199px) {

.cart_section > table td > .img-container {
width: 100px;
height: 100px;
}


.cart_section > table td > .price > strong {
font-size: 18px;
white-space: nowrap;
}

.cart_section > table td > .btn-like,
.cart_section > table td > .btn-remove {
font-size: 24px;
background-color: transparent;
padding: 0;
width: 30px;
height: 30px;
font-size: 18px;
}

.products .scrollbox-slider .element {
width: 33.3333333333%;
}

.info_slider .scrollbox-slider .element,
.brands .scrollbox-slider .element {
width: 20%;
}
}

@media (max-width: 991px) {
.cart_section > table thead th {
display: none;
}

.cart_section > table thead,
.cart_section > table tbody {
border: 0;
}

.cart_section > table,
.cart_section > table > tbody,
.cart_section > table > tbody > tr,
.cart_section > table > tbody > tr > td {
display: block;
}

.cart_section > table > tbody > tr {
width: 50%;
float: left;
border: 1px solid #ddd;
position: relative;
margin-right: -1px;
padding: 15px 0;
}

.cart_section > table > tbody > tr > td {
padding: 5px 15px;
text-align: center;
}

.cart_section > table > tbody > tr > td > strong.title {
display: block;
}

.cart_section > table > tbody > tr > td > .img-container {
width: 100%;
height: auto;
padding-top: 75%;
-ms-background-size: contain;
background-size: contain;
}

.cart_section > table > tbody > tr > td > .description {
max-width: none;
}

.products .scrollbox-slider .element {
width: 50%;
}

.info_slider .scrollbox-slider .element,
.brands .scrollbox-slider .element {
width: 25%;
}
}

@media (max-width: 767px) {
.products .scrollbox-slider .element {
width: 100%;
}

.info_slider .scrollbox-slider .element,
.brands .scrollbox-slider .element {
width: 50%;
}
}

a {
cursor: pointer;
}

#callmeform .btn {
height: 30px;
}

.common-home .articles .title {
text-transform: uppercase;
height: 40px;
overflow: hidden;
}

.common-home .articles .title {
text-transform: uppercase;
height: 40px;
overflow: hidden;
}

.brands .section_title > .sort > .buttons:first-child {
border: none;
}

.pusto:before {
content: "\f006";
color: #FFD15C;
}

.rating .fa-stack-2x {
color: #FFD15C;
font-size: 1em;
}

.rating .fa-stack {
width: 1em;
height: 1em;
}

.product_page .right_info .actions > label > a {
color: #4e78b7;
/*border-bottom: 1px dotted #4e78b7;*/
}

.adressess span {
border: none !important;
padding: 0 !important;
}

.order_page .adressess label {
display: block !important;
margin-bottom: 30px !important;
font-weight: normal !important;
}

.order_page .adressess label > .text > span:first-child {
color: #319fda !important;
border-bottom: 1px dotted #319fda !important;
cursor: pointer !important;
}

.order_page .adressess {
margin-top: 30px;
}