* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html,
body {
padding: 0;
margin: 0;
position: relative;
display: block;
}

html
{
	height: 100%;
}

body {
font-family: "Open Sans", sans-serif;
color: #333;
position: relative;
min-height: 100%;
}

a {
color: #317bbc;
}

a:hover, a:focus, a:active {
color: #2a6da8;
text-decoration: none!important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0 0 10px 0;
}

p {
line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: normal;
}

h1 {
font-size: 36px;
}

h2 {
font-size: 32px;
}

h3 {
font-size: 28px;
}

h4 {
font-size: 24px;
}

h5 {
font-size: 20px;
}

h6 {
font-size: 16px;
}

hr {
height: 1px;
border: none;
background: #eee;
margin: 0;
}

hr.divider {
margin: 30px 0;
}

textarea {
min-height: 100px;
}

*, *:focus {
outline: none !important;
}

strong {
font-weight: 700;
}

@font-face {
font-family: 'Plumb Medium';
src: url('../fonts/plumbmedium.eot');
src: url('../fonts/plumbmedium.eot') format('embedded-opentype'),
url('../fonts/plumbmedium.woff2') format('woff2'),
url('../fonts/plumbmedium.woff') format('woff'),
url('../fonts/plumbmedium.ttf') format('truetype'),
url('../fonts/plumbmedium.svg#plumbmedium') format('svg');
}