<footer id="footer"><?php echo $text_footer; ?><br /><?php echo $text_version; ?></footer></div>

                <?php //Shoputils.Discounts Begin ?>
                <?php echo $menu_discounts; ?>
                <?php //Shoputils.Discounts End ?>
            
</body></html>
